parameters:
    level: 8
    paths:
        - app
        - tests
        - public
    excludePaths:
        - app/cache/*
        - app/log/*
        - app/config/config.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
